<h1>Search TVDB</h1>

<div class='search-left search-content' >
  <div class='search-result' >
  <%= render 'form', search: @search %>

  <% if @aquery != '' %>
      search returned x results
    </div>
    <div class='search-right search-data' >
      <p>
        <%= @aquery %> has been searched 
        <%= @ahistory['count'] %> times
      </p>
      <div class='search-label search-date-title'>
        on these dates
      </div>
      <% @ahistory['dates'].each do | adate | %>
        <div class='search-dates' ><%= adate.created_at %></div>
      <% end %>
    </div>
  <% else %>
    </div>
  <% end %>
</div>

<div class='search-right search-history' >
  <div class = 'search-recents-sort' >
    sort by -
    <% @sortopts.each do | sort | %>
      <span>
        <a href=<%= new_search_path(query: @aquery, sort: sort) %> >
          <%= sort %>
        </a>&nbsp
      </span>
    <% end %>
  </div>
  <% @recents.each do | recent | %>
    <div class='search-recent' >
      <%= form_tag "/searches" do %>
        <%= hidden_field_tag 'search[query]', recent %>
        <%= submit_tag recent %>
      <% end %>
    </div>
  <% end %>
</div>

</div>

<%# link_to 'Back', searches_path %>
