<h1>Search TVDB</h1>

<div class='search-left search-content' >
  <div class='search-result' >
  <%= render 'form', search: @search %>

  <p><%# @token %></p>
  <% if @aquery != '' %>
    search returned <%= @seriesFound.count %> results
      <div class='search-series-found' >
        <div class='search-results-headrow search-series' >
          <span class='search-results-header search-title' >Name</span>
          <span class='search-results-header search-series-date' >Start Date</span>
          <span class='search-results-header search-series-rating' >Rating</span>
        </div>
      <% @seriesFound.each do | series | %>
        <% @seriesLink = 'https://www.thetvdb.com/?tab=series&id=' + u(series['id']) %>
        <div class="search-series" onclick="window.open('<%= @seriesLink %>', '_blank')" >
          <span class='search-title' ><%= series['seriesName'] %></span>
          <span class='search-series-date' ><%= series['firstAired'] %></span>
          <span class='search-series-rating' ><%= series['rating'] %></span>
        </div>
      <% end %>
      </div>
    </div>
    <div class='search-right search-data' >
      <div class='search-label search-count-title' >
        <%= h @aquery %> has been searched 
        <%= @ahistory['count'] %> times
      </div>
      <div class='search-label search-date-title'>
        on these dates
      </div>
      <% @ahistory['dates'].each do | adate | %>
        <div class='search-dates' ><%= adate.created_at %></div>
      <% end %>
    </div>
  <% else %>
    </div>
  <% end %>
</div>

<div class='search-right search-history' >
  <div class = 'search-recents-sort' >
    sort by -
    <% @sortopts.each do | sort | %>
      <span>
        <a href=<%= new_search_path(query: @urlquery, sort: sort) %> >
          <%= sort %>
        </a>&nbsp
      </span>
    <% end %>
  </div>
  <% @recents.each do | recent | %>
    <div class='search-recent' >
      <% @htmlRecent = h(recent) %>
      <%= form_tag "/searches" do %>
        <%= hidden_field_tag 'search[query]', @htmlRecent %>
        <%= submit_tag @htmlRecent %>
      <% end %>
    </div>
  <% end %>
</div>

</div>

<%# link_to 'Back', searches_path %>
